#checkboxesContainer {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	justify-content: flex-start;
}

#pharmacyCheckboxesTitle {
	flex-basis: 100%;
	font-size: 1.15em;
}

.checkbox {
	margin-right: 30px;
 }
 
 input[type=checkbox] {
	 transform: scale(1.5);
	 margin-right: 10px;
 }

 
@media screen and (max-width: 1024px) {
	.checkbox {
		flex-basis: 15%;
		margin-right: 0px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 780px) {
	.checkbox {
		flex-basis: 20%;
	}
}

@media screen and (max-width: 590px) {
	.checkbox {
		flex-basis: 25%;
	}
}

@media screen and (max-width: 480px) {
	.checkbox {
		flex-basis: 50%;
	}
}