#navBarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#navBarLogo {
  /* margin-left: 154px; */
}

#navBarSearchBar, #navBarSearchButton {  
  line-height: 35px; 
}

#navBarSearchBarAndButton {
  /* margin-left: 60px;
  margin-right: 70px; */
}

#navBarSearchBar {
  width: 450px;
}

#navBarLinks {
  
}

#navBarLinks a {
  text-decoration: none;
  margin: 10px;
  color: black;
 }

 @media screen and (max-width: 1100px) {
	#navBarSearchBar {
    width: 350px;
  }
}

@media screen and (max-width: 820px) {
	#navBarSearchBar {
    width: 170px;
  }
}

@media screen and (max-width: 640px) {
	#navBarSearchBar {
    width: 100px;
  }
}