#pharmacyListContainer {
	display: flex;
	flex-wrap: wrap;
}

#pharmacyListTitle {
	flex-basis: 100%;
	font-size: 1.15em;
}

.cardOuter {
	flex-basis: 30%;
	display: table;
	margin-bottom: 20px;
}

.cardInner {
  margin: 0 auto;
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
	width: 95%;
	float: left;
	font-size: 0.90em;
}

.cardHeader {
	color: white;
	text-align: left;
  background-color: forestgreen;
	padding: 20px;
	font-weight: bold;
}

.cardContent {
	text-align: left;
	color: black;
	padding: 20px;
}

@media screen and (max-width: 1100px) {
	.cardOuter {
		flex-basis: 50%;
	}
}

@media screen and (max-width: 500px) {
	.cardOuter {
		flex-basis: 100%;
	}

	.cardInner {
		width: 100%;
	}
}

