#pharmacyListContainer {
	display: flex;
	flex-wrap: wrap;
}

.cardOuter {
	flex-basis: 30%;
	display: table;
	margin-bottom: 20px;
}

.cardInner {
  margin: 0 auto;
	border: 1px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
	width: 75%;
	/* display: table-cell;  */
}

.cardHeader {
	color: white;
	text-align: left;
  background-color: forestgreen;
	padding: 5px 10px;
	padding: 20px;
}

.cardContent {
	text-align: left;
	color: black;
	padding: 20px;
}

@media screen and (max-width: 1100px) {
	.cardOuter {
		flex-basis: 50%;
	}
}

@media screen and (max-width: 500px) {
	.cardOuter {
		flex-basis: 100%;
	}
}

